# Python
__pycache__/
*.pyc
.venv/
venv/
**/.venv/
**/venv/
.ipynb_checkpoints/

# Big Data / Spark
*.jar
*.so
*.dll
*.dylib

# Datos y outputs (si aplica)
*.parquet
*.csv
*.zip
*.tar
*.gz
*.pt
*.mp3
*.txt
*.pdf

# IDE
.vscode/
.idea/

# Borrar datasets
dataset/
train/
test/
valid/
train_split/
trial_images/
.venv/
runs/
fotos/
resultados_img/Actividad_7/resultado/*.mp4
Actividad_8/resultados_video/*.mp4

Actividad_7/resultado/*.mp4
Actividad_8/resultados_video/*.mp4
Actividad_9/*.mp4

# Borrar NLTK
nltk_data/

# Ignorar .env con claves
.env

# Ignorar archivo llamado .codex
.codex

# Ignorar manual técnico
manual_tecnico.pdf