# Python
__pycache__/
*.pyc
.venv/
venv/
**/.venv/
**/venv/
.ipynb_checkpoints/

# Big Data / Spark
*.jar
*.so
*.dll
*.dylib

# Datos y outputs (si aplica)
*.parquet
*.csv
*.zip
*.tar
*.gz
*.pt

# IDE
.vscode/
.idea/

# Borrar datasets
dataset/
train/
test/
valid/
train_split/
trial_images/
.venv/
